.env
.env.*
!frontend/.env.production
!frontend/.env.development
backend/.env
backend/dist
dist
backend/.env_production
frontend/.env
.env
.env_production
*.zip
backend/backups/
backend/uploads/
*.png
~$*
*.tmp
*.xlsx
frontend/*.pdf
!frontend/Customer_Requirement_Document_GaugeMaster_Calibration_V4.pdf
!frontend/Certificate-CAL-CERT-2026-00050.pdf
